<footer class="fixed bottom-0 left-0 z-20 w-full p-4 border-t shadow md:flex md:items-center md:justify-between md:p-6 bg-gray-800 border-gray-600">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://england.nhs.uk/" class="hover:underline">NHS England</a></span>
    <div class="flex"></div>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">All content is available under the Open Government <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Licence</a> v3.0, except where otherwise stated.</span>
</footer>