<footer class="footer mt-auto py-3 bg-light h-card">
    <data class="u-url" href="{{'/' | relative_url }}"></data>
    <div class="container py-2">
        <div class="row">
            <div class="col">
                <a href="mailto:econstrat.analysis@nhs.net" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">
                    <i class="fa fa-envelope fa-2x"></i>
                </a>
            </div>
            <div class="col">
                <p class="d-flex justify-content-end">© NHS England 2022</p>
            </div>
        </div>
        <div class="row">
            <p class="d-flex justify-content-center">All content is available under the Open Government <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Licence</a> v3.0, except where otherwise stated.</p>
        </div>
    </div>
</footer>