<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
    {%- include head.html -%}
    <div class="root">
        <body class="">
            <div>
                {%- include header.html -%}
            </div>
            <div>
                <main class="" aria-label="Content">
                    {{ content }}
                </main>
            </div>
            <div>
                {%- include footer.html -%}
            </div>
        </body>
    </div>
</html>